$venmo-blue: #3d95ce;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  background-color: $venmo-blue;
  color: white;
}
