$venmo-blue: #3d95ce;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.PartyContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.PartyOrder {
  flex-grow: 1;
}

.OrdersContainer {
  flex-grow: 1;
}
